<template name="Help">
  <div class="row tbheader">
  </div>

  <div class="row">
    <div class="col-md-6">

      <a id="top"></a>

      <div class="list">
        <li><a href="#GettingStarted">Getting Started</a></li>
        <li><a href="#Textbook">Textbook</a></li>
        <li><a href="#BuyOffer">Buy Offer</a></li>
        <li><a href="#SellOffer">Sell Offer</a></li>
      </div>

      <a id="GettingStarted"></a>
      <h4>Getting Started</h4>
      <div class="box">
        <para>In order to use the website, students must log in using their UH username and password.  Upon logging in, a basic profile will be created for them.  Students may edit their own profile by adding their first and last name, username, and profile picture.  They can also indicate whether or not they want to contacted by email.</para>
      </div>

      <a id="Textbook"></a>
      <h4>Textbook</h4>
      <div class="box">
        <para>The Textbook page is where students can view all of the ICS textbooks that are used in ICS courses.  The title, textbook cover, author, ISBN, and condition of each textbook can be viewed.</para>
      </div>

      <a id="BuyOffer"></a>
      <h4>Buy Offer</h4>
      <div class="box">
        <para>The Buy Offer page is where students can make an offer to buy an ICS textbook at a given price.  To do this, students will click on the Add button and pick the textbook they wish to purchase.  They will then be taken to a page that will list all sell offers of the chosen textbook.  From this list, students can choose an offer they want to take and contact the person who made the sell offer.  If there are no sell offers of the chosen textbook or there are no offers they wish to take, they can then make their buy offer and post it to the list of offers.  All buy offers have a deadline in which the offer must be made by.  If the deadline passes, the offer will be taken down from the list of buy offers.  Students may add their offer back onto the list if they wish.</para>
      </div>
      <div class="box">
    <para>Students may also edit or delete their buy offer.  To do this, students will click on the Edit button and edit or delete any buy offers they had made.  Students can only edit or delete their own offers.</para>
      </div>
      <div class="box">
        <para>If students wish to view all buy offers made, they can click on the List button.</para>
      </div>

      <a id="SellOffer"></a>
      <h4>Sell Offer</h4>
      <div class="box">
        <para>The Sell Offer page is where students can make an offer to sell an ICS textbook at a given price.  To do this, students will click on the Add button and pick the textbook they wish to sell.  They will then be taken to a page that will list all buy offers of the chosen textbook.  From this list, students can choose an offer they want to take and contact the person who made the buy offer.  If there are no buy offers of the chosen textbook or there are no offers they wish to take, they can then make their sell offer and post it to the list of offers.  All sell offers have a deadline in which the offer must be made by.  If the deadline passes, the offer will be taken down from the list of sell offers.  Students may add their offer back onto the list if they wish.</para>
      </div>
      <div class="box">
        <para>Students may also edit or delete their sell offer.  To do this, students will click on the Edit button and edit or delete any sell offers they had made.  Students can only edit or delete their own offers.</para>
      </div>
      <div class="box">
        <para>If students wish to view all sell offers made, they can click on the List button.</para>
      </div>
    </div>
  </div>
</template>