<template name="EditSellOffer">
  {{#IfLoggedIn}}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="well bumper" style="margin-bottom: 267px; background-color: white; border: 1px solid black;">
        <h1 style="text-align: center; color: #00AFDD;">Edit Sell Offer</h1>
        <p style="text-align: center; margin-left: 10%; margin-right: 10%;">
          Make the following changes to the offer or click update to renew expiration date.
        </p>
        {{> quickForm
        collection="SellOffer"
        template="bootstrap3-horizontal"
        label-class="col-sm-2"
        input-col-class="col-sm-10"

        id="EditSellOfferForm"
        type="method-update"
        meteormethod="editSellOffer"
        doc=this
        buttonContent="Update"}}
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  {{/IfLoggedIn}}
</template>