<template name="EditSellOffer">
  {{#IfLoggedIn}}
  <div class="row tbheader" style="margin-bottom: 8px;">
    <div class="titleborder">
      <h1 class="titlespace">EDIT OFFER</h1>
      <p>
        Donec vel ligula quis ex accumsan porta.
      </p>
    </div>
  </div>
    <div class="well">
      {{> quickForm
      collection="SellOffer"
      template="bootstrap3-horizontal"
      label-class="col-sm-2"
      input-col-class="col-sm-10"

      id="EditSellOfferForm"
      type="method-update"
      meteormethod="editSellOffer"
      doc=this
      buttonContent="Update"}}
    </div>
  {{/IfLoggedIn}}
</template>