<template name="ListSellOffer">
  {{#IfLoggedIn}}
  <table class="table" style="background-color: white; border-top: 5px solid #00AFDD;">
    <thead>
    <tr>
      <th>Book</th>
      <th>Condition</th>
      <th>Offer</th>
      <th>Expiration</th>
      <th>User</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    {{#each sellOfferList}}
    <tr>
      <td>{{book}}</td>
      <td>{{condition}}</td>
      <td>${{offer}}</td>
      <td>{{ formatDate expirationDate }}<br>{{ formatTime expirationDate}}</td>
      <td>{{studentID}}</td>
      <td>
        {{#if isNotUser studentID}}
        <a href="#" class="button1" style="font-size: 10px;">BUY</a>
        {{/if}}
      </td>
    </tr>
    {{/each}}
    </tbody>
  </table>
  {{/IfLoggedIn}}
</template>
