<template name="ListSellOffer">
  {{#IfLoggedIn}}
  <table class="table" style="background-color: white; border-top: 5px solid #00AFDD;">
    <caption style="color: black; text-align: center; margin-bottom: 10px;">
      <h1 style="text-align: center; margin-bottom: 10px;">SELL OFFER</h1>
      <p>Create an offer to sell an ICS textbook at a given price or make an offer to buy a textbook from a student who is offering to sell it.</p>
      <hr style="padding: 0; margin-top: 0; margin-bottom: 20px;">
      <a href="{{pathFor 'AddSellOffer'}}" class="button1">ADD</a>
    </caption>
    <thead>
    <tr>
      <th>Book</th>
      <th>Condition</th>
      <th>Offer</th>
      <th>Expiration</th>
      <th>User</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    {{#each sellOfferList}}
    <tr>
      <td>{{book}}</td>
      <td>{{condition}}</td>
      <td>${{offer}}</td>
      <td>{{ formatDate expirationDate }}<br>{{ formatTime expirationDate}}</td>
      <td>{{studentID}}</td>
      <td><a href="#" class="button1" style="font-size: 10px;">BUY</a></td>
    </tr>
    {{/each}}
    </tbody>
  </table>
  {{/IfLoggedIn}}
</template>
