<template name = "SellOffer">

    <div class="row features bumper">
        <div class="col-md-4 feature" id="textbook">
            <a href="{{pathFor 'AddSellOffer'}}"><img class="featureimg" src="/images/add.svg" alt="Logo"></a>
            <h3>ADD</h3>
            <p class="featuredsc">
                Make your offer to sell a textbook here.
            </p>
        </div>
        <div class="col-md-4 feature" id="buybook">
            <a href="/selloffer-edit/:_id"><img class="featureimg" src="/images/edit.png" alt="Logo"></a>
            <h3>EDIT</h3>
            <p>
                Change your sell offers here.
            </p>
        </div>
        <div class="col-md-4 feature" id="sellbook">
            <a href="{{pathFor 'ListSellOffer'}}"><img class="featureimg" src="/images/list.png" alt="Logo"></a>
            <h3>LIST</h3>
            <p>
                View all sell offers made here.
            </p>
        </div>
    </div>
</template>