<template name="Home">
  <div class="row mainheader">
    <img class="headerimg" src="/images/tblogo.png">
    <h1>WELCOME</h1>
    <p>
      Donec vel ligula quis ex accumsan porta.
    </p>
  </div>

  <div class="row" id="featuretitle">
    <h1>FEATURES</h1>
  </div>

  <div class="row features">
    <div class="col-md-4 feature" id="textbook">
      <img class="featureimg" src="/images/buy.png">
      <h3>BUY</h3>
      <p class="featuredsc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis vulputate ligula consectetur lobortis.
      </p>
    </div>
    <div class="col-md-4 feature" id="buybook">
      <img class="featureimg" src="/images/buy.png">
      <h3>VIEW</h3>
      <p>
        Suspendisse potenti. Maecenas sollicitudin consectetur eleifend.
      </p>
    </div>
    <div class="col-md-4 feature" id="sellbook">
      <img class="featureimg" src="/images/buy.png">
      <h3>SELL</h3>
      <p>
        Suspendisse dignissim sollicitudin quam quis auctor. Ut malesuada mi nibh, eu placerat leo varius ac.
      </p>
    </div>
  </div>

</template>
