<template name="EditBuyOffer">
  {{#IfLoggedIn}}
  <div class="row mainheader">
    <img class="headerimg" src="/images/tblogo.png">

    <h1>EDIT</h1>

    <p>
      Donec vel ligula quis ex accumsan porta.
    </p>
  </div>
    <div class="well">
      {{> quickForm
      collection="BuyOffer"
      template="bootstrap3-horizontal"
      label-class="col-sm-2"
      input-col-class="col-sm-10"

      id="EditBuyOfferForm"
      type="method-update"
      meteormethod="editBuyOffer"
      doc=this
      buttonContent="Update"}}
    </div>
  {{/IfLoggedIn}}
</template>