<template name="EditStudent">
  {{#IfLoggedIn}}
  <div class="row box1" style="background-image: url('/images/textbookheader.png'); background-size: cover;">
    <div class="col-md-6 studentleft">
      <div class="img-div" style="background-image: url({{pic}});"> </div>
      <h4 style="text-transform: uppercase; text-align: center; color: black;">HELLO, {{email}}</h4>
      <span style="font-weight: bold;">First Name: </span> {{first}} <br>
      <span style="font-weight: bold;">Last Name: </span> {{last}}
    </div>

    <div class="col-md-6 studentright" style="background-color: white;">
      <div class="well studentc">
        {{#autoForm id="EditStudent" type="method-update" collection="Student"
        doc=this meteormethod="editStudent"}}
        {{> afQuickField name="first"}}
        {{> afQuickField name="last"}}
        {{> afQuickField name="pic"}}
        {{> afQuickField name="notif"}}

        <button type="submit" class="btn btn-primary">UPDATE</button>
        {{/autoForm}}
      </div>
    </div>
  </div>
  {{/IfLoggedIn}}
</template>