<template name="AddBuyOffer">
  {{#IfLoggedIn}}
  <div style="text-align: center;">
      <div class="well" style="background-color: rgba(250, 250, 250, 0.8); border: none; border-radius: 0;">
        {{#autoForm collection="BuyOffer" id="AddBuyOfferForm" type="method" meteormethod="addBuyOffer"}}
        {{> afQuickFields book="book" offer="offer" condition="condition" }}
        <div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-primary matches">Match</button>
        </div>
        {{/autoForm}}
      </div>
  </div>
  {{/IfLoggedIn}}
</template>
