<template name="AddTextBook">
  {{#IfLoggedIn}}
  <div class="row" style="background-image: url('/images/textbookheader.png'); background-size: cover; padding-top:
  195px;">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="text-align: center;">
      <h1 style="margin-bottom: 30px;">ADD A TEXTBOOK</h1>
      <div class="well" style="margin-bottom: 185px; background-color: rgba(250, 250, 250, 0.9); border: none; border-radius: 0; text-align: center;">
        {{> quickForm
        collection="Textbook"
        template="bootstrap3-horizontal"
        label-class="col-sm-2"
        input-col-class="col-sm-10"

        id="AddTextbookForm"
        type="method"
        meteormethod="addTextbook"
        resetOnSuccess=true}}
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  {{/IfLoggedIn}}
</template>