<template name="ListTextBook">
  <div class="fill"></div>
    {{#each textbookList}}
    <div class="row house">
      <div class="col-md-4 imgdesc">
        <img src= "http://images.amazon.com/images/P/{{isbn}}.01._SCMZZZZZZZ_.jpg" alt="Image not available">
      </div>
      <div class="col-md-8">
        <span class="bookdesc">Course:</span> {{course}} <br>
        <span class="bookdesc">ISBN:</span> {{isbn}} <br>
        <span class="bookdesc">Title:</span> {{title}} <br>
        <span class="bookdesc">Author:</span> {{author}} <br><br>

        {{#if isInRole 'admin'}}
        <a class="button2" style="font-size: 12px" href="{{ pathFor 'EditTextBook' }}">EDIT</a>
        <a class="button2 deleteTextbook" style="font-size: 12px" href="#">DELETE</a>
        {{/if}}
      </div>
    </div>
    {{/each}}

</template>
