<template name="ViewYourOffers">
  {{#IfLoggedIn}}

  <div class="well bumper">
    <h1>Your Buy Offers</h1>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Book</th>
        <th>Condition</th>
        <th>Offer</th>
        <th>Expiration</th>
        <th>Edit</th>
      </tr>
      </thead>

      <tbody>
      {{#each viewBuyOffers}}
      <tr>
        <td>{{book}}</td>
        <td>{{condition}}</td>
        <td>{{offer}}</td>
        <td>{{expirationDate}}</td>
        <td><a href="{{pathFor 'EditBuyOffer'}}">Edit</a></td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>

  <div class="well bumper">
    <h1>Your Sell Offers</h1>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Book</th>
        <th>Condition</th>
        <th>Offer</th>
        <th>Expiration</th>
        <th>Edit</th>
      </tr>
      </thead>

      <tbody>
      {{#each viewSellOffers}}
      <tr>
        <td>{{book}}</td>
        <td>{{condition}}</td>
        <td>{{offer}}</td>
        <td>{{expirationDate}}</td>
        <td><a href="{{pathFor 'EditSellOffer'}}">Edit</a></td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  {{/IfLoggedIn}}
</template>
