<template name="About">

  <div class="row features bumper">

    <div class="row" id="featuretitle">
      <h1>DEVELOPERS</h1>
    </div>

    <div class="col-md-4">
      <img class="featureimg" src="/images/Aljonpic.png" alt="Logo">
      <h3>ALJON PREZA</h3>
      <p class="featuredsc">
        <li>Email: aljonp@hawaii.edu</li>
        <li>GitHub: <a href="https://github.com/aljonpreza">https://github.com/aljonpreza</a></li>
      </p>
    </div>

    <div class="col-md-4">
      <img class="featureimg" src="/images/Sorapongpic.jpg" alt="Logo">
      <h3>SORAPONG KHONGNAWANG</h3>
      <p>
        <li>Email: khongnaw@hawaii.edu</li>
        <li>GitHub: <a href="https://github.com/khongnaw">https://github.com/khongnaw</a></li>
      </p>
    </div>

    <div class="col-md-4">
      <img class="featureimg" src="/images/Kelsiepic.jpg" alt="Logo">
      <h3>KELSIE YAMAKAWA</h3>
      <p>
        <li>Email: kayama@hawaii.edu</li>
        <li>GitHub: <a href="https://github.com/kelsieayamakawa">https://github.com/kelsieayamakawa</a></li>
      </p>
    </div>
  </div>

</template>