body {
  color: black;
  background-color: white;
  font-family: "Helvetica Neue", 'Helvetica' !important;
}

.container-fluid {
  padding: 0;

}

/** NAVBAR SETTINGS **/

nav.navbar.navbar-inverse.navbar-fixed-top {
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: solid 5px #00AFDD;
  height: 73px;
  opacity: 0.95;
  -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
  -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
  box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
}


.navbar-inverse .navbar-nav > li > a {
  line-height: 40px;
  color: white;
  font-family: "Helvetica Neue", 'Helvetica';
}

.navbar-inverse .navbar-nav > .open > a, {
  background-color: transparent;
}


.mainheader {
  margin-top: 70px;
  border-radius: 0 !important;
  background-image: url('/images/library1.png');
  background-position: bottom;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

/************************/

h1, h3 {
  margin: 0;
}

h4 {
  text-align: left;
  font-size: 25px;
  margin-left: 10px;
  font-weight: bold;
}

.list {
  margin-left: 10px;
  margin-top: 10px;
  font-family: "Helvetica Neue", 'Helvetica';
  font-size: 18px;
}

para {
  text-align: left;
  font-size: 18px;
  margin-left: 25px;
}

.box {
  margin-left: 25px;
  margin-bottom: 8px;
}

.titlespace {
  letter-spacing: 8px;
}

.bumper {
  margin-top: 90px;
}

.titlespace {
  letter-spacing: 8px;
}

.fill {
  height: 85px;
}

hr {
  width: 100px;
  border-color: black;
  margin-top: 30px;
}

.headerimg {
  width: 200px;
  margin-bottom: 25px;
}

.tbheader {
  margin-top: 70px;
  background-color: #00AFDD;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}

.smalllogo {
  width: 50px;
  margin-top: -8px;
}

.house {
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
  background-color: white;
  padding: 8px;
  border: 1px solid black;
  border-radius: 10px;
}

.bookdesc {
  font-weight: bold;
  color: #00AFDD;
}

.button1, .button1:hover {
  color: black;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  border: solid black 1px;
  border-radius: 5px;
}

.button2, .button2:hover {
  color: black;
  text-decoration: none;
  padding: 5px;
  border: solid black 1px;
  border-radius: 5px;
}

.well {
 margin-left: 10px;
 margin-right: 10px;
}


/****** FEATURES *********/

#featuretitle {
  padding-top: 10px;
  text-align: center;
  background-color: white;
}

.features {
  background-color: white;
  text-align: center;
}

.featureimg {
  width: 125px;
  margin: 20px 10px 20px 10px;
}

.featuredsc {
  padding-left: 20px;
  padding-right: 20px;
}

/** FOOTER SETTINGS **/

footer {
  background-color: black;
}

.text-muted {
  color: white;
  margin: 10px;
}

.active {
  background-color: #00AFDD;
}